<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >Login<span class="text-danger">APP</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngIf="!isLogged">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']" routerLinkActive="router-link-active" >Registrarse</a>
        </li>
      </ul>
      <a *ngIf="isLogged" class="btn btn-outline-danger" [routerLink]="['/']" (click)="logOut()" routerLinkActive="router-link-active" >Salir</a>
    </div>
  </nav>